body{
    background-color:white;
}
.name{
  position: absolute;
  top:0;
  left:14px;
}
.navlist:hover .nitem{
  display: block;
 
  transition: 0.5s;
}
.menu-btn{
  height:3rem;
  width: 4rem;
  display: none;
}
.navlist{
  position: absolute;
  top:0;
  right:0;
  left:80;
  display:inline;
  align-items:left;
  margin-right: 1vw;
  float: right;

}
.noption{
  display:none;
}
  
.nitem{
  

  float: left;
  color: white;
  text-align:left;
  padding:10px;
  font-family:sans-serif;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  
}
.icon{
  display:inline; 
  float: right;
}
.navlist:hover a.icon{
  margin-left: auto;
  display: block;
  float: right;

}

  h1 {
    position: absolute;
    top: 150px;
    left:74px;
    right:10;
    width: 300px;
    height: 35px;
    font-weight: bold;
    font-family: sans-serif;
}
.par{
  position: absolute;
  top: 220px;
  left:74px;
  right:10;
  width: 200px;
  height: 35px;
  font-family: sans-serif;
  font-size: medium;
   
} 

h2{
  position: absolute;
  top: 500px;
  bottom:340px;
  left:560px;
  right:10;
  width:300px;
  height: 35px;
  font-size: 2em;
  font-family: sans-serif;
  text-align: center;
  text-decoration: none;
}
.par1{
position: absolute;
top: 600px;
left:550px;
width: 300px;
height: 35px;
font-family: sans-serif;
text-align: center;
text-decoration: none;
}
.button{
    position:absolute;
    top: 310px;
    left:80px;
    right:10;
    width: 100px;
    height: 25px;
    background-color:black;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .img-right img {
    width:35rem;
    height: 55%;
    position:absolute;
    top:0;
    right:0;
    z-index: -1;
    background-position: center;
    background-size: cover;
  }
  
.parent{
  display:grid;
  grid-template-columns: 45vh 20vw 20vw;
  grid-template-rows: 50vh;
  margin:88vh 10vw 0;
  gap:5vw;
  position: absolute;
  top: 9rem;
  

}
.img2{
  box-sizing: border-box;
  width:100%;
  height:100%;
  z-index: -10;
}
h4{
  text-align: center;
  margin: auto;
  width:10rem;
  padding: 1em;
  z-index: 10;
  background-color: grey;
  
}
@media screen and (max-width:400px) {
  .menu-btn{
    display:block;
    position: absolute;
    top:0;
    right: -5rem;
  }
  .img-right img {
    
    top:60rem;
   
    width:100%;
    display: block;

  }
  .content{
    position: absolute;
    top:10rem;
   
  }
 
  
}